<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome</title>

            <link href="../static/css/style.css" rel="stylesheet">
      
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    
  <body id="main">
      
     <!--NAVIGATION CONTROLS-->
          <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
     
            <div class="container-fluid">
                <a class="navbar-brand" href="#">IN</a>
                <!--<img src="connectme.png" class="pull-left" id="brandimg"/>-->
                <form class="navbar-form navbar-left" role="search" id="searchbar">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Jobs, People">
                    </div>
                        <a href="#" class="glyphicon glyphicon-search"><strong>Search</strong></a>
                </form>
                    <ul class="nav nav-pills pull-right">
                           <li><a href="#">Home</a></li>
                           <li><a href class="active glyphicon glyphicon-user" ng-click="switchToUser()">Company</a></li>
                           <li><a href="/logout" class="glyphicon glyphicon-log-out">Logout</a></li>
                    </ul>
                
                <!--<p class ="navbar-text pull-right">
                    <a href="#" class="navbar-link"</a>
                </p>-->
            </div>
        </nav>
      
  
              <div class="container">
            <div class = "row">
                <div class = "col-sm-6">
            
                        <div class="panel panel-info" id="panel">
                        
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8">
                                    <h2><p class="text-uppercase"><strong>{{name}}</strong></p></h2>
                                    <div class="row">
                                        <div class="col-xs-6"><h4><small>{{Headquarters}}</small></h4></div>  
                                        <div class="col-xs-6"><h4>Established <small>{{Founded}}</small></h4></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6"><h4><small>{{url}}</small></h4></div>  
                                        <div class="col-xs-6"><h4><small>{{Followers}}</small></h4></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <img src="../images/gravatar.jpg" alt="" class="center-block img-circle img-responsive">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
          
            <div class="container" id="content">
                <div class="row" id="innercontent">
                        <p class="lead" >Summary</p>
                        {{summary details here}}
                </div>
            </div>
            
            <div class="container" id="seperator"></div>
          
                   
                        <div class="container" id="seperator"></div>

      </div><!-- top container-->
      
      
      
            
      
      
      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>


</html>