<!DOCTYPE html>
<html data-ng-app="usersApp">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Welcome!</title>

            <link href="../static/css/style.css" rel="stylesheet">
      
      <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap -->	
    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    
  <body id="main" style="padding-top:70px">
      
     <!--NAVIGATION CONTROLS-->
          <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
     
            <div class="container-fluid">
                <a class="navbar-brand" href="#">IN</a>
                <!--<img src="connectme.png" class="pull-left" id="brandimg"/>-->
                <form class="navbar-form navbar-left" role="search" id="searchbar">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Jobs, People">
                    </div>
                        <a href="#" class="glyphicon glyphicon-search"><strong>Search</strong></a>
                </form>
                    <ul class="nav nav-pills pull-right" data-ng-controller="NavbarController">
					<li data-ng-class="{'active':getClass('/home')}"><a href="#/home">Home</a></li>
                    <li data-ng-class="{'active':getClass('/personalprofile')}"><a href="#/personalprofile">Profile</a></li>
                           <li><a href="/logout" class="glyphicon glyphicon-log-out">Logout</a></li>
                    </ul>
                
                <!--<p class ="navbar-text pull-right">
                    <a href="#" class="navbar-link"</a>
                </p>-->
            </div>
        </div>
        
      <input type="hidden" id="UserId" value="user">
    <!-- Note that AngularJS 1.2+ now has a built-in ng-animation direction. Left in animated-view to show a 
         custom directive -->
    <div animated-view></div>


	
    <!-- Vendor Libs: jQuery only used for Bootstrap functionality -->
    <script src='../Scripts/angular.js'></script>
    <script src='../Scripts/angular-route.js'></script>
    <script src='../Scripts/jquery.min.js'></script>

    <!-- UI Libs -->
    <script src='../Scripts/bootstrap.js'></script>


    <!-- App libs -->
    <script src='../angularApp/app.js'></script>
    <script src='../angularApp/controller/controllers.js'></script>
    <script src='../angularApp/services/userService.js'></script>
    <script src='../angularApp/directives/animatedView.js'></script>
</body>
</html>